<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>Upload the photo</h1>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <div class="form-row">
            <label for="title">File name</label>
            <input id="title" type="text" name="title">
        </div>
        <div class="form-row">
            <label for="file">File</label>
            <input id="file" type="file" name="upload" multiple="multiple">
        </div>
        <div class="form-row">
            <button type="submit">Send</button>
        </div>
    </form>
</body>

</html>